/* master.css */

@import url( common.css);

#contentswrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide {
  letter-spacing: 3px;
}
.wrap_align {
  z-index: 400;
}
/* 스크롤 효과 */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
/**** GOMAIN ****/
.myname {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 120px; height: 120px;
  z-index: 300;
}
.myname > a {
  width: 120px; height: 120px;
  background: url(../images/sunny_logo.png);
  text-indent: -6000px;
  overflow: hidden;
  animation: rotate_image 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
  transform: rotate(360deg);
  }
}
.myname:hover > a {
  transform: rotate(-1440deg);
}

/**** NAV ****/
#main_header {
  width: 100%; height: 50px;
  position: relative;
  background-color: #fff;
}
#toggle {
  display: none;
}
.toggle_menu {
  width: 30px; height: 26px;
  background: url(../images/toggle_btn.png);
  position: absolute;
  right: 3%;
  top: 3%;
  text-indent: -6000px; overflow: hidden;
  z-index: 2;
}
#main_nav_wrap{
  width: 100%;
  position: fixed;
  right: -100%; top: 0; bottom: 0;
  z-index: 100;
}
input#toggle:checked + #main_nav_wrap{
  right: 0;
  transition-duration: 0.3s;
}
#main_nav > li > h3 > a:checked + #main_nav_wrap {
  position: fixed;
  right: -100%; top: 0; bottom: 0;
}
ul#main_nav{
  width: 50%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
ul#main_nav > li {
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 20px;
}
ul#main_nav > li:first-child {
  margin-top: 120px;
}
ul#main_nav > li > h3 {
  height: 54px;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
  line-height: 54px;
  font-weight: 700;
  font-size: 24px;
  color: #8081d9;
  cursor: pointer;
}
ul#main_nav > li > h3 > button {
  width: 100%;
  height: 54px;
  text-align: left;
  color: #8081d9;
  font-size: 24px;
  cursor: pointer;
}
ul#main_nav > li:hover > h3 > button {
  color: #717171;
}
ul#main_nav > li:hover > h3 {
  color: #717171;
}
ul#main_nav > li > h3 > a {
  color: #8081d9;  
}
ul#main_nav > li:hover > h3 > a {
  color: #717171;
}
.arrow-down {
  position: absolute;
  right: 10%;
  line-height: 55px;
  font-size: 30px;
  transform: rotateZ(0deg);
}
ul#main_nav > li.active > h3 > .arrow-down {
  transform: rotateZ(-180deg);
  transition-duration: 0.3s;
}

/***** 세부메뉴 *****/
ul#main_nav > li > ul.sub_nav > li{
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
}
ul#main_nav > li.active > ul.sub_nav > li{
  height: 50px;
}
ul#main_nav > li > ul.sub_nav > li > a{
  padding-left: 60px;
  line-height: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  background-color: #9b9ce8;
  transition-duration: 0.3s;
}
ul#main_nav > li > ul.sub_nav > li:hover > a {
  color: #fff;
  background-color: #717171;
}
#main_nav_wrap > label.btn_close{
  width: 30px; height: 26px;
  background: url(../images/toggle_close.png) no-repeat;
  position: absolute;
  right: 3%; top: 3%;
  text-indent: -6000px; overflow: hidden;
  transform: rotateZ(0deg);
}
input#toggle:checked + #main_nav_wrap > label.btn_close{
  transition-duration: 0.8s;
  transform: rotateZ(-180deg);
}

/**** SECTION1 HOME ****/
#home {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e5bfe3;
}
#home > img {
  width: 100%;
}
#maintitle {
  position: absolute;
  top: 13%;
  right: 12%;
}
#home > .wrap_align > #maintitle > .logo {
  font-size: 70px;
  height: 160px;
  text-align: left;
  border-bottom: 4px solid #fff;
  letter-spacing: 5px;
  min-width: 450px;
}
#home > .wrap_align > #maintitle > h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 20px;
  padding-top: 20px;
}

/***** 메뉴 제목 *****/
.menu {
  position: absolute;
  top: 60px;
  left: 230px;
  text-align: left;
}
.title {
  font-size: 55px;
}
.subtitle {
  font-size: 25px;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 4px solid #fff;
}

/**** SECTION2 PORTFOLIO ****/
#portfolio {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient( #e3c5e4, #c5b0eb);
}
#portfolio > .wrap_align > .brandlist {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10%;
}
#portfolio > .wrap_align > .brandlist > ul > li {
  display: inline-block;
  padding: 0 30px;
  margin-top: 50px;
}
#portfolio > .wrap_align > .brandlist > ul > li > a {
  width: 250px;
  height: 250px;
}
.brandname {
  margin-top: 25px;
  font-size: 22px;
}
.brandlist > ul > li > a > div > img {
  opacity: 0;
  transition-duration: 0.4s;
}
.brandlist > ul > li > a > div > img:hover {
  opacity: 1;
}
.brandlist > ul > li > a > div > div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -250px;
}

/** STARBUCKS **/
.starbucksbg {
  background: url(../images/starbucks.png);
}
/** URIAGE **/
.uriagebg {
  background: url(../images/uriage.png);
}
/** KRISPYKREME **/
.krispykremebg {
  background: url(../images/krispykreme.png);
}
/** YUHAN **/
.yuhanbg {
  background: url(../images/yuhan.png);
}
/** TWOSOME **/
.twosomebg {
  background: url(../images/twosome.png);
}
/** DONGA **/
.dongabg {
  background: url(../images/donga.png);
}
/** DONGBU STEEL **/
.dongbubg {
  background: url(../images/dongbu.png);
}
/** OVERWATCH **/
.overwatchbg {
  background: url(../images/overwatch.png);
}

/**** SECTION3 ABOUT ME ****/
#me {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(#c5b0eb, #acc1f9);
}
#me > .wrap_align {
  position: relative;
  height: 100%;
}
#me > .wrap_align > .profile_wrap{
  position: relative;
  height: 100%;
  margin: 0 10%;
}
#me > .wrap_align > .profile_wrap > #profile {
  position: relative;
  height: 280px;
}
/* 프로필 사진 */
.floating1 {
  position: absolute;
  top: 320px;
  left: 7%;
}
#me > .wrap_align > .profile_wrap > .info {
  position: absolute;
  top: 31%;
  left: 35%;
  font-size: 23px;
}
#me > .wrap_align > .profile_wrap > .info > ul.question {
  position: absolute;
  left: 0; top: 0;
  text-align: right;
}
#me > .wrap_align > .profile_wrap > .info > ul.question > li {
  padding: 5px 0;
  line-height: 50px;
}
#me > .wrap_align > .profile_wrap > .info > ul.question > li:nth-child(4) {
  margin-top: 50px;
}
#me > .wrap_align > .profile_wrap > .info > ul.question > li:last-child {
  margin-top: 100px;
}
#me > .wrap_align > .profile_wrap > .info > ul.answer {
  position: absolute;
  left: 200px;
  top: 0;
  text-align: left;
  width: 544px;
}
#me > .wrap_align > .profile_wrap > .info > ul.answer > li {
  padding: 5px 0;
  line-height: 50px;
}

/**** SECTION4 ARTWORKS ****/
#artwork {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(#acc1f9, #bfb3ee);
}
#artwork > .wrap_align > ul.artlist {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-top: 30px;
}
#artwork > .wrap_align > ul.artlist > li {
  display: inline-block;
  padding: 0 30px;
  margin-top: 50px;
}
#artwork > .wrap_align > ul.artlist > li > a > div {
  transform: scale(1.0);
  margin: 0 auto;
}
#artwork > .wrap_align > ul.artlist > li > a:hover > div {
  transform: scale(1.05);
  transition-duration: 0.4s
}
.artlist > li > a > div > img {
  width: 250px;
}
.artlist > li > a > h2 {
  margin-top: 45px;
  font-size: 25px;
}

/**** SECTION5 CONTACT ****/
#contact {
  width: 100%;
  height: 100%;
  background: linear-gradient(#bfb3ee, #e5b9e4);
}
#contact > .wrap_align > .address > h2 {
  font-size: 60px;
  margin-top: 6%;
  letter-spacing: 3px;
}
#contact > .wrap_align > .address > p.first {
  margin-top: 50px;
  font-size: 23px;
}
#contact > .wrap_align > .address > p.second {
  font-size: 23px;
}
.circle {
  width: 350px; height: 350px;
  margin: 0 auto;
  background: url(../images/contact_bg.png) no-repeat center;
  margin-top: 80px;
}
#contact > .wrap_align > .address > ul.contactme {
  margin-top: -285px;
  margin-bottom: 200px;
}
#contact > .wrap_align > .address > ul.contactme > li {
  font-size: 20px;
  padding: 5px 0;
}
#contact > .wrap_align > .address > ul.contactme > li:nth-of-type(3) {
  margin-top: 40px;
}

/**** FOOTER ****/
#contact > .wrap_align > .footer {
  width: 100%; height: 100px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  letter-spacing: 1px;
}
#contact > .wrap_align > .footer > #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
#contact > .wrap_align > .footer > #btntop > a {
  width: 100px;
  height: 100px;
  background: url(../images/btn_top.png);
}
#contact > .wrap_align > .footer > #btntop > a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
#contact > .wrap_align > .footer > .copyright {
  font-size: 18px;
  color: #6e6e6e;
  padding-top: 35px;
  z-index: 10;
}


/* RESPONSIVE */
@media (min-width: 1490px) and (max-width: 1580px) {
  #portfolio > .wrap_align > .brandlist {
    margin: 3% 5% 0;
  }
}

/* WEB LARGE */
@media (min-width: 1490px) {
  .bg_minpc,
  .bg_tablet,
  .bg_mobile {
    display: none;
  }
}

/* WEB MINIMUM_1 */
/* img 파일 */
@media (min-width: 1025px) and (max-width: 1489px) {
  .bg_pc,
  .bg_tablet,
  .bg_mobile,
  .answer_mobile,
  .nav_logo {
    display: none;
  }
  .bg_minpc {
    display: visible;
  }
  /**** SECTION1 HOME ****/
  #home > .wrap_align > #maintitle > .logo {
    font-size: 40px;
    height: 100px;
    text-align: left;
    border-bottom: 3px solid #fff;
    letter-spacing: 5px;
    min-width: 100px;
  }
  #home > .wrap_align > #maintitle > h2 {
    font-size: 20px;
    text-align: left;
    letter-spacing: 15px;
    padding-top: 20px;
  }
  /***** 메뉴 제목 *****/
  .menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #fff;
  }
  /* SECTION2 PROJECTS */
  #portfolio > .wrap_align > .brandlist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 40px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li {
    display: inline-block;
    padding: 0 60px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a {
    width: 150px;
    height: 150px;
  }
  .brandname {
    margin-top: 25px;
    font-size: 22px;
  }
  .brandlist > ul > li > a > div > img {
    width: 150px;
    height: 150px;
  }
  .brandlist > ul > li > a > div > div {
    width: 150px;
    height: 150px;
    margin-top: -150px;
    background-size: 150px;
  }

  /* SECTION3 ABOUT ME */
  #profile > img {
    width: 200px;
    height: 200px;
  }
  .floating1 {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -100px;
  }
  #me > .wrap_align > .profile_wrap > .info {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 16px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:nth-child(4) {
    margin-top: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:last-child {
    margin-top: 30px;
  }

  /* SECTION4 ART WORKS */
  #artwork > .wrap_align > .artlist > li > a > div {
    width: 180px;
    height: 180px;
  }
  .artlist > li > a > div > img {
    width: 180px;
    margin: 0 auto;
  }
  .artlist > li > a > h2 {
    font-size: 22px;
  }
  #artwork > .wrap_align > ul.artlist > li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 25px;
  }
  #artwork > .wrap_align > ul.artlist > li > a > div {
    transform: scale(1.0);
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  /* SECTION5 CONTACT */
  #contact > .wrap_align > .address > h2 {
    font-size: 40px;
    margin-top: 6%;
    letter-spacing: 3px;
  }
  #contact > .wrap_align > .address > p.first {
    margin-top: 30px;
    font-size: 18px;
  }
  #contact > .wrap_align > .address > p.second {
    font-size: 18px;
  }
  .circle {
    width: 350px; height: 350px;
    margin: 0 auto;
    background: url(../images/contact_bg.png) no-repeat center;
    margin-top: 70px;
  }
}

/* WEB MINIMUM_2 */
/* img 파일 */
@media (min-width: 992px) and (max-width: 1024px) {
  .bg_pc,
  .bg_tablet,
  .bg_mobile,
  .answer_mobile,
  .nav_logo {
    display: none;
  }
  .bg_minpc {
    display: visible;
  }
  /**** SECTION1 HOME ****/
  #home > .wrap_align > #maintitle > .logo {
    font-size: 40px;
    height: 100px;
    text-align: left;
    border-bottom: 3px solid #fff;
    letter-spacing: 5px;
    min-width: 100px;
  }
  #home > .wrap_align > #maintitle > h2 {
    font-size: 20px;
    text-align: left;
    letter-spacing: 15px;
    padding-top: 20px;
  }
  /***** 메뉴 제목 *****/
  .menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #fff;
  }
  /* SECTION2 PROJECTS */
  #portfolio > .wrap_align > .brandlist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 40px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li {
    display: inline-block;
    padding: 0 30px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a {
    width: 150px;
    height: 150px;
  }
  .brandname {
    margin-top: 25px;
    font-size: 18px;
  }
  .brandlist > ul > li > a > div > img {
    width: 150px;
    height: 150px;
  }
  .brandlist > ul > li > a > div > div {
    width: 150px;
    height: 150px;
    margin-top: -150px;
    background-size: 150px;
  }

  /* SECTION3 ABOUT ME */
  #profile > img {
    width: 200px;
    height: 200px;
  }
  .floating1 {
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -100px;
  }
  #me > .wrap_align > .profile_wrap > .info {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 16px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:nth-child(4) {
    margin-top: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:last-child {
    margin-top: 30px;
  }
  /* SECTION4 ART WORKS */
  #artwork > .wrap_align > .artlist > li > a > div {
    width: 180px;
    height: 180px;
  }
  .artlist > li > a > div > img {
    width: 180px;
    margin: 0 auto;
  }
  .artlist > li > a > h2 {
    font-size: 18px;
    margin-top: 25px;
  }
  #artwork > .wrap_align > ul.artlist > li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 50px;
  }
  #artwork > .wrap_align > ul.artlist > li > a > div {
    transform: scale(1.0);
    margin: 0 auto;
    width: 250px;
    height: auto;
  }
  
  /* SECTION5 CONTACT */
  #contact > .wrap_align > .address > h2 {
    font-size: 40px;
    margin-top: 6%;
    letter-spacing: 3px;
  }
  #contact > .wrap_align > .address > p.first {
    margin-top: 30px;
    font-size: 18px;
  }
  #contact > .wrap_align > .address > p.second {
    font-size: 18px;
  }
  .circle {
    width: 350px; height: 350px;
    margin: 0 auto;
    background: url(../images/contact_bg.png) no-repeat center;
    margin-top: 40px;
  }
}

/* TABLET */
@media (min-width: 700px) and (max-width: 991px) {
  .bg_pc,
  .bg_minpc,
  .bg_mobile,
  .answer_mobile,
  .nav_logo {
    display: none;
  }
  .bg_tablet {
    display: visible;
  }
  /**** SECTION1 HOME ****/
  #home > .wrap_align > #maintitle > .logo {
    font-size: 40px;
    height: 100px;
    text-align: left;
    border-bottom: 3px solid #fff;
    letter-spacing: 5px;
    min-width: 100px;
  }
  #home > .wrap_align > #maintitle > h2 {
    font-size: 20px;
    text-align: left;
    letter-spacing: 15px;
    padding-top: 20px;
  }
  /***** 메뉴 제목 *****/
  .menu {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #fff;
    line-height: 25px;
  }
  /* SECTION2 PROJECTS */
  #portfolio > .wrap_align > .brandlist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px 40px 0;
  }
  #portfolio > .wrap_align > .brandlist > ul > li {
    display: inline-block;
    padding: 0 30px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a {
    width: 150px;
    height: 150px;
  }
  .brandname {
    margin-top: 20px;
    font-size: 18px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a {
    width: 150px;
    height: 150px;
  }
  .brandname {
    margin-top: 25px;
    font-size: 22px;
  }
  .brandlist > ul > li > a > div > img {
    width: 150px;
    height: 150px;
  }
  .brandlist > ul > li > a > div > div {
    width: 150px;
    height: 150px;
    margin-top: -150px;
    background-size: 150px;
  }

  /* SECTION3 ABOUT ME */
  #profile > img {
    width: 200px;
    height: 200px;
  }
  .floating1 {
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -100px;
  }
  #me > .wrap_align > .profile_wrap{
    position: relative;
    height: 100%;
    margin: 0;
  }
  #me > .wrap_align > .profile_wrap > .info {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 16px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer {
    position: absolute;
    left: 140px;
    top: 0;
    text-align: left;
    width: 544px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li {
    padding: 5px 0;
    line-height: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:nth-child(4) {
    margin-top: 30px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:last-child {
    margin-top: 30px;
  }

  /* SECTION4 ART WORKS */
  #artwork > .wrap_align > ul.artlist > li > a > div {
    transform: scale(1.0);
    margin: 0 auto;
    width: 180px;
    height: 180px;
  }
  .artlist > li > a > div {
    width: 180px;
    margin: 0 auto;
    height: auto;
  }
  .artlist > li > a > div > img {
    width: 180px;
    margin: 0 auto;
  }
  .artlist > li > a > h2 {
    font-size: 18px;
    margin-top: 25px;
  }
  #artwork > .wrap_align > ul.artlist > li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 50px;
  }

  /* SECTION5 CONTACT */
  #contact > .wrap_align > .address > h2 {
    font-size: 40px;
    margin-top: 25%;
    letter-spacing: 3px;
  }
  #contact > .wrap_align > .address > p.first {
    margin-top: 30px;
    font-size: 18px;
  }
  #contact > .wrap_align > .address > p.second {
    font-size: 18px;
  }
  .circle {
    width: 350px; height: 350px;
    margin: 0 auto;
    background: url(../images/contact_bg.png) no-repeat center;
    margin-top: 12%;
  }
}

/* MOBILE */
@media (min-width: 100px) and (max-width: 699px) {
  .bg_pc,
  .bg_minpc,
  .bg_tablet,
  .portfolio_img,
  .answer_normal {
    display: none;
  }
  .bg_mobile,
  .answer_mobile {
    display : visible;
  }
  ul#main_nav > li:first-child {
    margin-top: 103px;
  }
  /* NAV */
  ul#main_nav{
    width: 70%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  ul#main_nav > li > h3 {
    height: 45px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    line-height: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #8081d9;
    cursor: pointer;
  }
  ul#main_nav > li > h3 > button {
    font-size: 18px;
  }
  ul#main_nav > li.active > ul.sub_nav > li{
    height: 40px;
  }
  ul#main_nav > li > ul.sub_nav > li > a{
    padding-left: 60px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #9b9ce8;
    transition-duration: 0.3s;
  }
  .arrow-down {
    position: absolute;
    right: 10%;
    line-height: 45px;
    font-size: 30px;
    transform: rotateZ(0deg);
  }
  /* GOMAIN */
  .myname {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 80px; height: 80px;
    z-index: 300;
  }
  .myname > a {
    width: 80px; height: 80px;
    background: url(../images/sunny_logo_m.png);
    text-indent: -6000px;
    overflow: hidden;
    animation: rotate_image 15s linear infinite;
    transform-origin: 50% 50%;
  }
  /**** SECTION1 HOME ****/
  #maintitle {
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
  }
  #home > .wrap_align > #maintitle > .logo {
    font-size: 30px;
    height: 70px;
    text-align: center;
    border-bottom: 3px solid #fff;
    letter-spacing: 5px;
    min-width: 250px;
  }
  #home > .wrap_align > #maintitle > h2 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 13px;
    padding-top: 10px;
  }
  /***** 메뉴 제목 *****/
  .menu {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-45%);
    text-align: center;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 14px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #fff;
    line-height: 20px;
  }
  /* SECTION2 PROJECTS */
  #portfolio > .wrap_align > .brandlist {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    margin: 0 10px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li {
    display: inline-block;
    padding: 0 5px;
    margin-top: 12px;
    width: 75%;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a {
    width: 100%;
    height: 45px;
  }
  h3.brandname {
    margin-top: 0;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50px;
    border: 1px solid #fff;
    letter-spacing: 2px;
  }
  #portfolio > .wrap_align > .brandlist > ul > li > a:hover > h3 {
    background-color: #8081d9;
    color: #fff;
    transition-duration: 0.3s;
    border: 1px solid #8081d9;
  }
  /***** 크리스피크림 *****/
  #krispykreme > img {
    opacity: 0;
    transition-duration: 0.4s;
  }
  #krispykreme > img:hover {
    opacity: 1;
  }
  #krispykreme > .krispykremebg_m {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(../images/krispykreme_m_min.png);
    margin-top: -100px;
  }
  /* SECTION3 ABOUT ME */
  #profile > img {
    width: 100px;
    height: 100px;
  }
  .floating1 {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -50px;
  }
  #me > .wrap_align > .profile_wrap{
    position: relative;
    height: 100%;
    margin: 0;
  }
  #me > .wrap_align > .profile_wrap > .info {
    position: absolute;
    top: 41%;
    left: 20px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer {
    position: absolute;
    left: 103px;
    top: 0;
    text-align: left;
    width: 220px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.answer > li {
    padding: 5px 0;
    line-height: 20px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li {
    padding: 5px 0;
    line-height: 20px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:nth-child(4) {
    margin-top: 40px;
  }
  #me > .wrap_align > .profile_wrap > .info > ul.question > li:last-child {
    margin-top: 80px;
  }
  /* SECTION4 ART WORKS */
  #artwork > .wrap_align > .artlist > li > a > div {
    transform: scale(1.0);
    margin: 0 auto;
    width: 130px;
    height: 130px;
  }
  .artlist > li > a > div {
    width: 130px;
    margin: 0 auto;
    height: 130px;
  }
  .artlist > li > a > div > img {
    width: 130px;
    margin: 0 auto;
  }
  .artlist > li > a > h2 {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  #artwork > .wrap_align > ul.artlist > li {
    display: inline-block;
    padding: 0 5px;
    margin-top: 30px;
  }

  /* SECTION5 CONTACT */
  #contact > .wrap_align > .address > h2 {
    font-size: 30px;
    margin-top: 14%;
    letter-spacing: 3px;
  }
  #contact > .wrap_align > .address > p.first {
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 2px;
  }
  #contact > .wrap_align > .address > p.second {
    font-size: 13px;
    letter-spacing: 2px;
  }
  #contact > .wrap_align > .address > ul.contactme {
    margin-top: -204px;
    margin-bottom: 200px;
    letter-spacing: 2px;
  }
  #contact > .wrap_align > .address > ul.contactme > li {
    font-size: 13px;
    padding: 5px 0;
  }
  .circle {
    width: 240px; height: 240px;
    margin: 0 auto;
    background: url(../images/contact_bg.png) no-repeat center;
    background-size: 240px;
    margin-top: 10%;
  }
  .footer {
    width: 100%; height: 60px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    letter-spacing: 1px;
  }
  #contact > .wrap_align > .footer > #btntop {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
  }
  #contact > .wrap_align > .footer > #btntop > a {
    width: 80px;
    height: 80px;
    background: url(../images/btn_top.png);
    background-size: 80px;
  }
  /**** FOOTER ****/
  #contact > .wrap_align > .footer {
    width: 100%; height: 80px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    letter-spacing: 1px;
  }
  #contact > .wrap_align > .footer > .copyright {
    font-size: 13px;
    color: #6e6e6e;
    padding-top: 0;
    line-height: 80px;
    margin-top: 7px;
    letter-spacing: 0;
  }
}