/* sub_layout_design.css */

@import url( common.css);

/* 모바일 수평 스크롤 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
  letter-spacing: 1px;
  background: #fff;
}

/**** GO HOME ****/
.myname {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 120px; height: 120px;
  z-index: 300;
}
.myname > a {
  width: 120px; height: 120px;
  background: url(../images/sunny_logo.png);
  text-indent: -6000px;
  overflow: hidden;
  animation: rotate_image 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.myname:hover > a {
  transform: rotate(-1440deg);
}

/**** NAV ****/
#main_header  {
  width: 100%; height: 50px;
  position: relative;
  background-color: #fff;
}
#toggle  {
  display: none;
}
.toggle_menu  {
  width: 45px; height: 45px;
  background: url(../images/toggle_btn_sub.png);
  position: fixed;
  right: 3%;
  top: 3%;
  text-indent: -6000px; overflow: hidden;
  z-index: 2;
}
#main_nav_wrap {
  width: 100%;
  position: fixed;
  right: -100%; top: 0; bottom: 0;
  z-index: 100;
}
input#toggle:checked + #main_nav_wrap {
  right: 0;
  transition-duration: 0.3s;
  z-index: 500;
}
#main_nav > li > h3 > a:checked + #main_nav_wrap  {
  position: fixed;
  right: -100%; top: 0; bottom: 0;
}
ul#main_nav {
  width: 50%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  box-shadow: 0 0 14px 13px rgba(0, 0, 0, 0.1);
}
ul#main_nav > li  {
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 20px;
}
ul#main_nav > li:first-child  {
  margin-top: 70px;
}
ul#main_nav > li > h3  {
  height: 54px;
  padding-left: 30px;
  line-height: 54px;
  font-weight: 700;
  font-size: 24px;
  color: #8081d9;
  cursor: pointer;
}
ul#main_nav > li > h3 > button  {
  width: 100%;
  height: 54px;
  text-align: left;
  color: #8081d9;
  font-size: 24px;
  cursor: pointer;
}
ul#main_nav > li:hover > h3 > button  {
  color: #717171;
}
ul#main_nav > li:hover > h3  {
  color: #717171;
}
ul#main_nav > li > h3 > a  {
  color: #8081d9;  
}
ul#main_nav > li:hover > h3 > a  {
  color: #717171;
}
.arrow-down  {
  position: absolute;
  right: 10%;
  line-height: 55px;
  font-size: 30px;
  transform: rotateZ(0deg);
}
ul#main_nav > li.active > h3 > .arrow-down  {
  transform: rotateZ(-180deg);
  transition-duration: 0.3s;
}

/***** 세부메뉴 *****/
ul#main_nav > li > ul.sub_nav > li {
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
}
ul#main_nav > li.active > ul.sub_nav > li {
  height: 50px;
}
ul#main_nav > li > ul.sub_nav > li > a {
  padding-left: 60px;
  line-height: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  background-color: #9b9ce8;
  transition-duration: 0.3s;
}
ul#main_nav > li > ul.sub_nav > li:hover > a  {
  color: #fff;
  background-color: #717171;
}
#main_nav_wrap > label.btn_close {
  width: 30px; height: 26px;
  background: url(../images/toggle_close.png) no-repeat;
  position: absolute;
  right: 3%; top: 3%;
  text-indent: -6000px; overflow: hidden;
  transform: rotateZ(0deg);
}
input#toggle:checked + #main_nav_wrap > label.btn_close {
  transition-duration: 0.8s;
  transform: rotateZ(-180deg);
}
#main_nav_wrap > label.bg_close {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateZ(0deg);
}
input#toggle:checked + #main_nav_wrap > label.bg_close {
  left: 0;
  transition-duration: 0.3s;
  transform: rotateZ(0deg);
}

/***** 고정 메뉴 *****/
div#menu {
  width: 80px; height: 500px;
  position: absolute;
  left: 2%;
  z-index: 200;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
div#menu > ul > li {
  width: 120px; height: 120px;
  position: relative;
  margin-bottom: 20px;
}
div#menu > ul > li:last-child {
  margin-bottom: 0;
}
div#menu > ul > li > a {
  width: 120px;
  height: 120px;
}
div#menu > ul > li > a > div > img {
  width: 120px;
}

/** 고정 메뉴 hover효과 **/
div#menu > ul > li > a > .front {
  position: absolute;
  left: 0; top: 0;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition-duration: 0.3s;
}
div#menu > ul > li:hover > a > .front {
  transform: rotateY(180deg);
}
div#menu > ul > li > a > .back {
  position: absolute;
  left: 0; top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-duration: 0.3s;
}
div#menu > ul > li:hover > a > .back {
  transform: rotateY(360deg);
}

/** MAIN - WEB DESIGN **/
#main {
  width: 100%;
  position: relative;
}
#main .contentswrap {
  width: 100%;
  height: 750px;
  position: fixed;
  top: 0;
  z-index: -100;
  background-color: #347f97;
}
#main .contentswrap img {
  position: absolute;
  top: 8%;
  right: 2%;
}
#main > .contentswrap > .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main > .contentswrap > .title > .logo {
  font-size: 40px;
  width: 274px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main > .contentswrap > .title > h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main > .contentswrap > .title > h3 {
  font-size: 20px;
  margin-top: 30%;
}
#main > .contentswrap > .title > p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main > .contentswrap > ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

section h3 {
  font-size: 30px;
  padding: 70px 0;
}
/** SECTION1 CARDNEWS1 - 공모전 공고 **/
#cardnews_1 {
  width: 100%;
  background: #ddece8;
  margin-top: 750px;
  text-align: center;
}
#cardnews_1 h3 {
  color: #347f97;
}
#cardnews_1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding-top: 100px;
}
#cardnews_1 ul li {
  flex-grow: 1;

}
.cardnews_1_01 {
  padding: 12% 0 0 25%;
}
.cardnews_1_02 {
  padding: 0 0 5% 8%;
}

/** SECTION2 CARDNEWS1 - detail **/
#cardnews_1_detail {
  width: 100%;
  background-color: #ddece8;
  margin-top: -2px;
}
#cardnews_1_detail ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#cardnews_1_detail ul li {
  padding: 10px;
}
#cardnews_1_detail ul li img {
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION3 CARDNEWS2 - 퀴즈 이벤트 **/
#cardnews_2 {
  width: 100%;
  /* background: #c5e3fb; */
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_2 ul li {
  padding: 10px;
}
#cardnews_2 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 10%);
}

/** SECTION4 CARDNEWS3 - 퀴즈 이벤트 **/
#cardnews_3 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_3 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_3 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_3 .contentswrap ul li {
  padding: 10px;
}
#cardnews_3 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION4 CARDNEWS4 - 금융서비스 **/
#cardnews_4 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_4 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_4 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_4 .contentswrap ul li {
  padding: 10px;
}
#cardnews_4 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION5 CARDNEWS5 - 오행시 **/
#cardnews_5 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_5 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_5 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_5 .contentswrap ul li {
  padding: 10px;
}
#cardnews_5 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION6 WEB BANNER **/
#main_webbanner {
  width: 100%;
  background: #484848;
  margin-top: -2px;
}
#main_webbanner .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_webbanner .contentswrap img {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 550px;
}
#main_webbanner > .contentswrap > .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_webbanner > .contentswrap > .title > .logo {
  font-size: 40px;
  width: 274px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_webbanner > .contentswrap > .title > h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_webbanner > .contentswrap > .title > h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 30%;
}
#main_webbanner > .contentswrap > .title > p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 25px;
}
#main_webbanner > .contentswrap > ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION7 WEB BANNER1 - 크리스피크림 **/
#webbanner_1 {
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
}
#webbanner_1 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_1 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_1 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_1 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_1 .contentswrap ul li img {
  width: 100%;
}

/** SECTION8 WEB BANNER2 - 유리아쥬 **/
#webbanner_2{
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
}
#webbanner_2 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_2 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_2 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_2 .contentswrap ul li img {
  width: 100%;
}

/** SECTION9 WEB BANNER3 - 유한양행 **/
#webbanner_3 {
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
  padding-bottom: 100px;
}
#webbanner_3 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_3 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_3 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_3 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_3 .contentswrap ul li img {
  width: 100%;
}

/** FOOTER **/
.webdesign_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #fff;
  letter-spacing: 1px;
}
.webdesign_body .footer > #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.webdesign_body .footer > #btntop > a {
  width: 100px;
  height: 100px;
  background: url(../images/btn_top.png) no-repeat;
}
.webdesign_body .footer > #btntop > a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.webdesign_body .footer > .copyright {
  font-size: 18px;
  color: #484848;
  padding-top: 50px;
  margin-top: 0;
}


/** SECTION1 DigitalDrawing_Illust **/
.digital_body #main .contentswrap {
  background-color: #308274;
}
.digital_body #main .contentswrap img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 550px;
}
.digital_body #main .contentswrap .title {
  width: 21%;
}
.digital_body #main .contentswrap .title .logo {
  width: 340px;
}

/** SECTION2 DigitalDrawing_Illust1 **/
.digital_body #illust_1 {
  width: 100%;
  background: #71a38a;
  margin-top: 750px;
  text-align: center;
}
.digital_body #illust_1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding: 100px 0;
  justify-content: center;
}
.digital_body #illust_1 ul li {
  flex-grow: 1;
}
.digital_1_01 {
  width: 450px;
  padding: 2% 0 0 30%;
}
.digital_1_02 {
  width: 450px;
  padding: 2% 0 0 17%;
}

/** SECTION3 DigitalDrawing_Illust2 **/
.digital_body #illust_2 {
  width: 100%;
  background: #71a38a;
  text-align: center;
  margin-top: -2px;
}
.digital_body #illust_2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding-bottom: 100px;
  justify-content: center;
}
.digital_body #illust_2 ul li {
  padding: 0 40px;
}
.digital_body #illust_2 ul li img {
  width: 370px;
}

/** SECTION3 DigitalDrawing_Illust3 **/
.digital_body #illust_3 {
  width: 100%;
  background: #71a38a;
  text-align: center;
  margin-top: -2px;
}
.digital_body #illust_3 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding-bottom: 100px;
  justify-content: center;
}
.digital_body #illust_3 ul li {
  padding: 0 40px;
}
.digital_body #illust_3 ul li img {
  width: 370px;
}

/** SECTION4 CHARACTER **/
#main_character {
  width: 100%;
  background: #a0ddf0;
  margin-top: -2px;
  color: #484848;
}
#main_character .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_character .contentswrap img {
  position: absolute;
  top: 6%;
  right: 2%;
  width: 500px;
}
#main_character > .contentswrap > .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_character > .contentswrap > .title > .logo {
  font-size: 40px;
  color: #484848;
  width: 340px;
  padding-bottom: 15px;
  border-bottom: 3px solid #484848;
}
#main_character > .contentswrap > .title > h2 {
  padding-top: 15px;
  font-size: 24px;
  color: #484848;
  line-height: 30px;
  margin-top: 5px;
}
#main_character > .contentswrap > .title > h3 {
  padding: 30px 0;
  font-size: 20px;
  color: #484848;
  margin-top: 15%;
}
#main_character > .contentswrap > .title > p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  color: #484848;
  line-height: 30px;
}
#main_character > .contentswrap > ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  color: #484848;
  line-height: 25px;
}
#main_character > .contentswrap > ul.period li {
  color: #484848;
}

/** SECTION5 CHARACTER **/
#character_1 {
  background-color: #fff;
  margin-top: -2px;
}
#character_1 .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#character_1 .contentswrap ul {
  padding-bottom: 100px;
}
#character_1 .contentswrap ul li img {
  margin: 0 auto;
  padding-top: 70px;
}

/** SECTION6 CHARACTER **/
#character_2 {
  background-color: #a0ddf0;
  margin-top: -2px;
}
#character_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#character_2 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#character_2 .contentswrap ul li img {
  margin: 0 auto;
  padding-top: 70px;
}

/** SECTION7 MAIN DRAWING **/
#main_drawing {
  width: 100%;
  background: #484848;
  margin-top: -2px;
}
#main_drawing .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_drawing .contentswrap img {
  position: absolute;
  top: 12%;
  right: 2%;
  width: 500px;
}
#main_drawing > .contentswrap > .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_drawing > .contentswrap > .title > .logo {
  font-size: 40px;
  width: 340px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_drawing > .contentswrap > .title > h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_drawing > .contentswrap > .title > h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 15%;
}
#main_drawing > .contentswrap > .title > p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_drawing > .contentswrap > ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION8 DRAWING **/
#drawing {
  background-color: #f5e0b3;
  margin-top: -2px;
}
#drawing .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#drawing .contentswrap ul {
  padding-bottom: 100px;
}
#drawing .contentswrap ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
#drawing .contentswrap ul li img {
  padding: 0 30px;
  width: 500px;
}

/** FOOTER **/
.digital_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.digital_body .footer > #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.digital_body .footer > #btntop > a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.digital_body .footer > #btntop > a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.digital_body .footer > .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}

/** SECTION1 Design Project_MAIN **/
.project_body #main .contentswrap {
  background-color: #d1c4a1;
}
.project_body #main .contentswrap img {
  position: absolute;
  top: 16%;
  right: 12%;
  width: 600px;
}
.project_body #main .contentswrap .title {
  width: 21%;
}
.project_body #main .contentswrap .title .logo {
  width: 310px;
}

/** SECTION2 Design Projuect - 팜팜발리 **/
.project_body #project_1 {
  position: relative;
  width: 100%;
  background: #fcf8e5;
  margin-top: 750px;
  text-align: center;
}
.project_body #project_1 ul {
  margin: 0 10%;
  padding: 100px 0 200px 0;
}
.project_body #project_1 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project_body #project_1 ul li:first-child img {
  width: 500px;
  margin: 50px 30px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.project_body #project_1 ul li:nth-child(2) img {
  width: 680px;
  padding: 0 50px;
}
.project_body #project_1 ul li:last-child img {
  width: 400px;
  margin: 0 20px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.leaf_left {
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 25%;
}
.leaf_right {
  position: absolute;
  right: 0;
  top: 25%;
  width: 25%;
}

/** FOOTER **/
.project_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.project_body .footer > #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.project_body .footer > #btntop > a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.project_body .footer > #btntop > a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.project_body .footer > .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}

/** SECTION1 GRAPHIC DESIGN - 암호모듈검증 교재 **/
.graphic_body #main .contentswrap {
  background-color: #13294d;
}
.graphic_body #main .contentswrap img {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 450px;
}
.graphic_body #main .contentswrap .title {
  width: 21%;
}
.graphic_body #main .contentswrap .title h3 {
  margin-top: 25%;
}
.graphic_body #main .contentswrap .title .logo {
  width: 320px;
}
.graphic_body #main .contentswrap ul.period {
  top: 77%;
}

/** SECTION2 GRAPHIC DESIGN - 암호모듈검증 교재 **/
.graphic_body #graphic_1 {
  position: relative;
  width: 100%;
  background: #ececec;
  margin-top: 750px;
  text-align: center;
}
.graphic_body #graphic_1 ul {
  margin: 0 10%;
  padding: 100px 0 200px 0;
}
.graphic_body #graphic_1 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.graphic_1_02 {
  width: 700px;
  height: 495px;
  margin: 20px 50px;
}
.graphic_1_03 {
  width: 400px;
  height: 744px;
  margin: 20px 50px;
}
.graphic_1_04, .graphic_1_05 {
  width: 550px;
  margin: 100px 2% 0 2%;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.graphic_1_06 {
  margin-top: 100px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION3 GRAPHIC DESIGN - 포스터 **/
#main_poster {
  width: 100%;
  background: #2c4e9c;
  margin-top: -2px;
}
#main_poster .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_poster .contentswrap img {
  position: absolute;
  top: 10%;
  right: 1%;
  width: 550px;
}
#main_poster > .contentswrap > .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_poster > .contentswrap > .title > .logo {
  font-size: 40px;
  width: 340px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_poster > .contentswrap > .title > h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_poster > .contentswrap > .title > h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 15%;
}
#main_poster > .contentswrap > .title > p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_poster > .contentswrap > ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION5 CHARACTER **/
#graphic_2 {
  background-color: #ececec;
  margin-top: -2px;
}
#graphic_2 ul {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
#graphic_2 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#graphic_2 ul li img {
  width: 600px;
  box-shadow: 0 0 17px 1px rgb(0, 0, 0, 7%);
  margin: 20px;
}
















































/** FOOTER **/
.graphic_footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.graphic_footer #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.graphic_footer > #btntop > a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.graphic_footer > #btntop > a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.graphic_footer > .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}