/* sub_layout_design.css */

@import url( common.css);

/* 모바일 수평 스크롤 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
  letter-spacing: 1px;
  background: #fff;
}
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.back-to-position.to-bottom {
  transform: translateY(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0;
}
.show .back-to-position.delay-1 {
  transition-delay: .1s;
}
.show .back-to-position.delay-2 {
  transition-delay: .2s;
}
.show .back-to-position.delay-3 {
  transition-delay: .3s;
}
.show .back-to-position.delay-4 {
  transition-delay: .4s;
}
.show .back-to-position.delay-5 {
  transition-delay: .5s;
}
.show .back-to-position.delay-6 {
  transition-delay: .6s;
}
.show .back-to-position.delay-7 {
  transition-delay: .7s;
}
.show .back-to-position.delay-8 {
  transition-delay: .8s;
}
.show .back-to-position.delay-9 {
  transition-delay: .9s;
}
.show .back-to-position.delay-10 {
  transition-delay: 1s;
}
.show .back-to-position.delay-11 {
  transition-delay: 1.1s;
}
.show .back-to-position.delay-12 {
  transition-delay: 1.2s;
}

/**** GO HOME ****/
.myname {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 120px; height: 120px;
  z-index: 300;
}
.myname a {
  width: 120px; height: 120px;
  background: url(../images/sunny_logo.png);
  text-indent: -6000px;
  overflow: hidden;
  animation: rotate_image 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.myname:hover a {
  transform: rotate(-1440deg);
}

/**** NAV ****/
#main_header  {
  width: 100%; height: 50px;
  position: relative;
  background-color: #fff;
}
#toggle  {
  display: none;
}
.toggle_menu  {
  width: 45px; height: 45px;
  background: url(../images/toggle_btn_sub.png);
  position: fixed;
  right: 3%;
  top: 3%;
  text-indent: -6000px; overflow: hidden;
  z-index: 2;
}
#main_nav_wrap {
  width: 100%;
  position: fixed;
  right: -100%; top: 0; bottom: 0;
  z-index: 100;
}
input#toggle:checked + #main_nav_wrap {
  right: 0;
  transition-duration: 0.3s;
  z-index: 500;
}
#main_nav > li > h3 > a:checked + #main_nav_wrap  {
  position: fixed;
  right: -100%; top: 0; bottom: 0;
}
ul#main_nav {
  width: 50%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  box-shadow: 0 0 14px 13px rgba(0, 0, 0, 0.1);
}
ul#main_nav > li  {
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 20px;
}
ul#main_nav > li:first-child  {
  margin-top: 70px;
}
ul#main_nav > li > h3  {
  height: 54px;
  padding-left: 30px;
  line-height: 54px;
  font-weight: 700;
  font-size: 24px;
  color: #8081d9;
  cursor: pointer;
}
ul#main_nav > li > h3 > button  {
  width: 100%;
  height: 54px;
  text-align: left;
  color: #8081d9;
  font-size: 24px;
  cursor: pointer;
}
ul#main_nav > li:hover > h3 > button  {
  color: #717171;
}
ul#main_nav > li:hover > h3  {
  color: #717171;
}
ul#main_nav > li > h3 > a  {
  color: #8081d9;  
}
ul#main_nav > li:hover > h3 > a  {
  color: #717171;
}
.arrow-down  {
  position: absolute;
  right: 10%;
  line-height: 55px;
  font-size: 30px;
  transform: rotateZ(0deg);
}
ul#main_nav > li.active > h3 > .arrow-down  {
  transform: rotateZ(-180deg);
  transition-duration: 0.3s;
}

/***** 세부메뉴 *****/
ul#main_nav > li > ul.sub_nav > li {
  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;
}
ul#main_nav > li.active > ul.sub_nav > li {
  height: 50px;
}
ul#main_nav > li > ul.sub_nav > li > a {
  padding-left: 60px;
  line-height: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  background-color: #9b9ce8;
  transition-duration: 0.3s;
}
ul#main_nav > li > ul.sub_nav > li:hover > a  {
  color: #fff;
  background-color: #717171;
}
#main_nav_wrap > label.btn_close {
  width: 30px; height: 26px;
  background: url(../images/toggle_close.png) no-repeat;
  position: absolute;
  right: 3%; top: 3%;
  text-indent: -6000px; overflow: hidden;
  transform: rotateZ(0deg);
}
input#toggle:checked + #main_nav_wrap > label.btn_close {
  transition-duration: 0.8s;
  transform: rotateZ(-180deg);
}
#main_nav_wrap > label.bg_close {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transform: rotateZ(0deg);
}
input#toggle:checked + #main_nav_wrap > label.bg_close {
  left: 0;
  transition-duration: 0.3s;
  transform: rotateZ(0deg);
}

/***** 고정 메뉴 *****/
div#menu {
  width: 80px; height: 500px;
  position: absolute;
  left: 2%;
  z-index: 200;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
div#menu ul li {
  width: 120px; height: 120px;
  position: relative;
  margin-bottom: 20px;
}
div#menu ul li:last-child {
  margin-bottom: 0;
}
div#menu ul li a {
  width: 120px;
  height: 120px;
}
div#menu ul li a div img {
  width: 120px;
}

/** 고정 메뉴 hover효과 **/
div#menu ul li a .front {
  position: absolute;
  left: 0; top: 0;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition-duration: 0.3s;
}
div#menu ul li:hover a .front {
  transform: rotateY(180deg);
}
div#menu ul li a .back {
  position: absolute;
  left: 0; top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-duration: 0.3s;
}
div#menu ul li:hover a .back {
  transform: rotateY(360deg);
}

/**** WEB DESIGN ****/
/** #1_CARDNEWS_MAIN **/
#main {
  width: 100%;
  position: relative;
}
#main .contentswrap {
  width: 100%;
  height: 750px;
  position: fixed;
  top: 0;
  z-index: -100;
  background-color: #347f97;
}
#main .contentswrap img {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 47%;
}
#main .contentswrap .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 16%;
}
#main .contentswrap .title .logo {
  font-size: 40px;
  width: 274px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main .contentswrap .title h3 {
  font-size: 20px;
  margin-top: 25%;
}
#main .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 16%;
  font-size: 20px;
  line-height: 30px;
}

/** SECTION1_#1_CARDNEWS_01_공모전공고 **/
#cardnews_1 {
  width: 100%;
  background: #ddece8;
  margin-top: 750px;
  text-align: center;
}
#cardnews_1 h3 {
  color: #347f97;
}
#cardnews_1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}
#cardnews_1 ul li {
  width: 50%;
}
.cardnews_1_01 {
  width: 90%;
  margin: 0 auto;
}
.cardnews_1_02 {
  width: 57%;
  margin: 0 auto;
}

/** SECTION2_#1_CARDNEWS_01_공모전공고_detail **/
#cardnews_1_detail {
  width: 100%;
  background-color: #ddece8;
  margin-top: -2px;
}
#cardnews_1_detail ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#cardnews_1_detail ul li {
  padding: 10px;
}
#cardnews_1_detail ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION3_#1_CARDNEWS_02_퀴즈이벤트 **/
#cardnews_2 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_2 ul li {
  padding: 10px;
}
#cardnews_2 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 10%);
}

/** SECTION4_#1_CARDNEWS_03_퀴즈이벤트 **/
#cardnews_3 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_3 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_3 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_3 .contentswrap ul li {
  padding: 10px;
}
#cardnews_3 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION5_#1_CARDNEWS_04_금융서비스 **/
#cardnews_4 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_4 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_4 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_4 .contentswrap ul li {
  padding: 10px;
}
#cardnews_4 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION6_#1_CARDNEWS_05_오행시 **/
#cardnews_5 {
  width: 100%;
  background: #ddece8;
  text-align: center;
  margin-top: -2px;
}
#cardnews_5 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#cardnews_5 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
#cardnews_5 .contentswrap ul li {
  padding: 10px;
}
#cardnews_5 .contentswrap ul li img {
  width: 350px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION7_#2_WEB BANNER_MAIN **/
#main_webbanner {
  width: 100%;
  background: #484848;
  margin-top: -2px;
}
#main_webbanner .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_webbanner .contentswrap img {
  position: absolute;
  top: 13%;
  right: 2%;
  width: 45%;
}
#main_webbanner .contentswrap .title {
  position: absolute;
  width: 28%;
  top: 12%;
  left: 8%;
}
#main_webbanner .contentswrap .title .logo {
  font-size: 40px;
  width: 250px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_webbanner .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_webbanner .contentswrap .title h3 {
  font-size: 20px;
  margin-top: 25%;
}
#main_webbanner .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_webbanner .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 8%;
  font-size: 20px;
  line-height: 30px;
}

/** SECTION8_#2_WEB BANNER_01_크리스피크림 **/
#webbanner_1 {
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
}
#webbanner_1 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_1 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_1 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_1 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_1 .contentswrap ul li img {
  width: 100%;
}

/** SECTION9_#2_WEB BANNER_02_유리아쥬 **/
#webbanner_2{
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
}
#webbanner_2 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_2 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_2 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_2 .contentswrap ul li img {
  width: 100%;
}

/** SECTION10_#2_WEB BANNER_03_유한양행 **/
#webbanner_3 {
  width: 100%;
  background: #484848;
  text-align: center;
  margin-top: -2px;
  padding-bottom: 100px;
}
#webbanner_3 h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webbanner_3 .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webbanner_3 .contentswrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}
#webbanner_3 .contentswrap ul li {
  padding-bottom: 30px;
}
#webbanner_3 .contentswrap ul li img {
  width: 100%;
}

/** SECTION11_#3_WEBPAGE DESIGN_MAIN **/
#main_webpage {
  width: 100%;
  background: #338b8b;
  margin-top: -2px;
}
#main_webpage .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_webpage .contentswrap img {
  position: absolute;
  top: 17%;
  right: 2%;
  width: 40%;
}
#main_webpage .contentswrap .title {
  position: absolute;
  width: 28%;
  top: 12%;
  left: 8%;
}
#main_webpage .contentswrap .title .logo {
  font-size: 40px;
  width: 240px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_webpage .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_webpage .contentswrap .title h3 {
  font-size: 20px;
  margin-top: 25%;
}
#main_webpage .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_webpage .contentswrap ul.period {
  position: absolute;
  top: 80%;
  left: 8%;
  font-size: 20px;
  line-height: 30px;
}

/** SECTION12_#3_WEBPAGE DESIGN **/
#webdesign {
  width: 100%;
  background: #fff;
  text-align: center;
  margin-top: -2px;
  padding-bottom: 100px;
}
#webdesign h3 {
  font-size: 22px;
  padding: 30px 0 50px 0;
}
#webdesign .contentswrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#webdesign .contentswrap ul {
  padding: 100px 0;
  text-align: center;
}
#webdesign .contentswrap ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  width: 80%;
  margin: 0 auto;
}
#webdesign .contentswrap ul h3 {
  color: #484848;
}
#webdesign .contentswrap ul li img {
  width: 100%;
}
#webdesign .contentswrap ul li:last-child img {
  width: 48%;
  margin: 0 1%;
}

/**** FOOTER_WEB DESIGN ****/
.webdesign_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.webdesign_body .footer #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.webdesign_body .footer #btntop a {
  width: 100px;
  height: 100px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.webdesign_body .footer #btntop a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.webdesign_body .footer .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}


/**** GRAPHIC DESIGN ****/
/** #1_한국인터넷진흥원교재_MAIN **/
.graphic_body #main .contentswrap {
  background-color: #13294d;
}
.graphic_body #main .contentswrap img {
  position: absolute;
  top: 7%;
  right: 10%;
  width: 27%;
}
.graphic_body #main .contentswrap .title {
  width: 21%;
}
.graphic_body #main .contentswrap .title h3 {
  margin-top: 25%;
}
.graphic_body #main .contentswrap .title .logo {
  width: 320px;
}
.graphic_body #main .contentswrap ul.period {
  top: 77%;
}

/** SECTION1_#1_한국인터넷진흥원교재 **/
.graphic_body #graphic_1 {
  position: relative;
  width: 100%;
  background: #ececec;
  margin-top: 750px;
  text-align: center;
}
.graphic_body #graphic_1 ul {
  margin: 0 10%;
  padding: 100px 0 200px 0;
}
.graphic_body #graphic_1 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.graphic_1_02 {
  width: 50%;
  height: auto;
  margin: 20px 50px;
}
.graphic_1_03 {
  width: 30%;
  height: auto;
  margin: 20px 50px;
}
.graphic_1_04, .graphic_1_05 {
  width: 40%;
  margin: 100px 2% 0 2%;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.graphic_1_06 {
  width: 84%;
  margin-top: 100px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}

/** SECTION2_#2_브로슈어_MAIN **/
#main_brochure {
  width: 100%;
  background: #E78C64;
  margin-top: -2px;
}
#main_brochure .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_brochure .contentswrap img {
  position: absolute;
  top: 17%;
  right: 1%;
  width: 52%;
}
#main_brochure .contentswrap .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_brochure .contentswrap .title .logo {
  font-size: 40px;
  width: 320px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_brochure .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_brochure .contentswrap .title h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 15%;
}
#main_brochure .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_brochure .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION3_#2_브로슈어 **/
#graphic_2 {
  background-color: #ececec;
  margin-top: -2px;
}
#graphic_2 ul {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 100px 0;
}
#graphic_2 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
#graphic_2 ul li img {
  width: 80%;
}
#graphic_2 ul li:nth-child(4) img {
  width: 70%;
  padding-bottom: 50px;
}
#graphic_2 ul li:last-child img {
  width: 60%;
}

/** SECTION4_#3_해설서_MAIN **/
#main_book {
  width: 100%;
  background: #0098e1;
  margin-top: -2px;
}
#main_book .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_book .contentswrap img {
  position: absolute;
  top: 8%;
  right: 1%;
  width: 36%;
}
#main_book .contentswrap .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_book .contentswrap .title .logo {
  font-size: 40px;
  width: 320px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_book .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_book .contentswrap .title h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 15%;
}
#main_book .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_book .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION5_#3_해설서 **/
#graphic_3 {
  background-color: #ececec;
  margin-top: -2px;
}
#graphic_3 ul {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}
#graphic_3 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  padding: 50px 0;
}
.book_1_02 {
  width: 85%;
}
.book_1_01 {
  width: 70%;
}

/** FOOTER_GRAPHIC DESIGN **/
.graphic_footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.graphic_footer #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.graphic_footer #btntop a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.graphic_footer #btntop a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.graphic_footer .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}

/**** DIGITAL DRAWING ****/
/** #1_ILLUST_MAIN **/
.digital_body #main .contentswrap {
  background-color: #308274;
}
.digital_body #main .contentswrap img {
  position: absolute;
  top: 4%;
  right: 10%;
  width: 33%;
}
.digital_body #main .contentswrap .title {
  width: 21%;
}
.digital_body #main .contentswrap .title .logo {
  width: 340px;
}

/** SECTION1_#1_ILLUST_01_마추픽추 **/
.digital_body #illust_1 {
  width: 100%;
  background: #71a38a;
  margin-top: 750px;
  text-align: center;
}
.digital_body #illust_1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding: 100px 0;
  justify-content: center;
}
.digital_body #illust_1 ul li {
  width: 45%;
}
.digital_body #illust_1 ul li img {
  width: 70%;
  margin: 0 auto;
}

/** SECTION2_#1_ILLUST_02_비니쿤카 **/
.digital_body #illust_2 {
  width: 100%;
  background: #71a38a;
  text-align: center;
  margin-top: -2px;
}
.digital_body #illust_2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  justify-content: center;
}
.digital_body #illust_2 ul li {
  padding: 40px;
}
.digital_body #illust_2 ul li img {
  width: 370px;
}

/** SECTION3_#1_ILLUST_03_와카치나 **/
.digital_body #illust_3 {
  width: 100%;
  background: #71a38a;
  text-align: center;
  margin-top: -2px;
}
.digital_body #illust_3 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  padding-bottom: 100px;
  justify-content: center;
}
.digital_body #illust_3 ul li {
  padding: 40px;
}
.digital_body #illust_3 ul li img {
  width: 370px;
}

/** SECTION4_#2_CHARACTER_MAIN **/
#main_character {
  width: 100%;
  background: #a0ddf0;
  margin-top: -2px;
  color: #484848;
}
#main_character .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_character .contentswrap img {
  position: absolute;
  top: 4%;
  right: 2%;
  width: 34%;
}
#main_character .contentswrap .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_character .contentswrap .title .logo {
  font-size: 40px;
  color: #484848;
  width: 340px;
  padding-bottom: 15px;
  border-bottom: 3px solid #484848;
}
#main_character .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  color: #484848;
  line-height: 30px;
  margin-top: 5px;
}
#main_character .contentswrap .title h3 {
  padding: 30px 0;
  font-size: 20px;
  color: #484848;
  margin-top: 15%;
}
#main_character .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  color: #484848;
  line-height: 30px;
}
#main_character .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  color: #484848;
  line-height: 25px;
}
#main_character .contentswrap ul.period li {
  color: #484848;
}

/** SECTION5_#2_CHARACTER_01 **/
#character_1 {
  background-color: #fff;
  margin-top: -2px;
}
#character_1 .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#character_1 .contentswrap ul {
  padding-bottom: 100px;
}
#character_1 .contentswrap ul li img {
  margin: 0 auto;
  padding-top: 70px;
}

/** SECTION6_#2_CHARACTER_02 **/
#character_2 {
  background-color: #a0ddf0;
  margin-top: -2px;
}
#character_2 .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#character_2 .contentswrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#character_2 .contentswrap ul li:first-child,
#character_2 .contentswrap ul li:last-child {
  width: 10%;
}
#character_2 .contentswrap ul li:nth-child(2) {
  width: 80%;
}
#character_2 .contentswrap ul li img {
  margin: 0 auto;
  width: 100%;
}

/** SECTION7_#3_TABLET DRAWING_MAIN **/
#main_drawing {
  width: 100%;
  background: #484848;
  margin-top: -2px;
}
#main_drawing .contentswrap {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
#main_drawing .contentswrap img {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 42%;
}
#main_drawing .contentswrap .title {
  position: absolute;
  width: 25%;
  top: 12%;
  left: 14%;
}
#main_drawing .contentswrap .title .logo {
  font-size: 40px;
  width: 340px;
  padding-bottom: 15px;
  border-bottom: 3px solid #fff;
}
#main_drawing .contentswrap .title h2 {
  padding-top: 15px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 5px;
}
#main_drawing .contentswrap .title h3 {
  padding: 30px 0;
  font-size: 20px;
  margin-top: 15%;
}
#main_drawing .contentswrap .title p {
  font-size: 24px;
  padding-top: 1%;
  font-size: 20px;
  line-height: 30px;
}
#main_drawing .contentswrap ul.period {
  position: absolute;
  top: 72%;
  left: 14%;
  font-size: 20px;
  line-height: 25px;
}

/** SECTION8_#3_TABLET DRAWING **/
#drawing {
  background-color: #f5e0b3;
  margin-top: -2px;
}
#drawing .contentswrap {
  width: 80%;
  margin: 0 auto;
}
#drawing .contentswrap ul {
  padding-bottom: 100px;
}
#drawing .contentswrap ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
#drawing .contentswrap ul li img {
  padding: 0 30px;
  width: 500px;
}

/** FOOTER_DIGITAL DRAWING **/
.digital_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.digital_body .footer #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.digital_body .footer #btntop a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.digital_body .footer #btntop a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.digital_body .footer .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}

/**** DESIGN PROJECT ****/
/** #1_PALMPALM BALI_MAIN **/
.project_body #main .contentswrap {
  background-color: #d1c4a1;
}
.project_body #main .contentswrap img {
  position: absolute;
  top: 16%;
  right: 12%;
  width: 600px;
}
.project_body #main .contentswrap .title {
  width: 21%;
}
.project_body #main .contentswrap .title .logo {
  width: 310px;
}

/** SECTION1_#1_PALMPALM BALI **/
.project_body #project_1 {
  position: relative;
  width: 100%;
  background: #fcf8e5;
  margin-top: 750px;
  text-align: center;
}
.project_body #project_1 ul {
  margin: 0 10%;
  padding: 100px 0 200px 0;
}
.project_body #project_1 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project_body #project_1 ul li:first-child img {
  width: 500px;
  margin: 50px 30px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.project_body #project_1 ul li:nth-child(2) img {
  width: 680px;
  padding: 0 50px;
}
.project_body #project_1 ul li:last-child img {
  width: 400px;
  margin: 0 20px;
  box-shadow: -10px 13px 20px 5px rgb(0, 0, 0, 10%);
}
.leaf_left {
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 25%;
}
.leaf_right {
  position: absolute;
  right: 0;
  top: 25%;
  width: 25%;
}

/** FOOTER_DESIGN PROJECT **/
.project_body .footer {
  position: relative;
  width: 100%; height: 100px;
  text-align: center;
  background-color: #2c2a29;
  letter-spacing: 1px;
}
.project_body .footer #btntop {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.project_body .footer #btntop a {
  width: 100px;
  height: 70px;
  background: url(../images/btn_top_starbucks.png) no-repeat;
}
.project_body .footer #btntop a:hover {
  margin-top: -7px;
  transition-duration: 0.3s;
}
.project_body .footer .copyright {
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}