/* common.css */
@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 300;
src: url(/fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
url(/fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
url(/fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
src: url(/fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
url(/fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
url(/fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
src: url(/fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
url(/fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
url(/fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
}


@font-face {
	font-family: 'Noto Sans KR', sans-serif;
}


*{ margin: 0; padding: 0;}
html, body{
	font: 13px 'Spoqa Han Sans', 'Nanum Gothic', sans-serif;
	font-weight: 400;
	color: #000;
}
table, tr, th, td{
	font: 13px Verdana, 'Nanum Gothic', sans-serif;
	font-weight: 400;
	color: #000;
	border-collapse: collapse;
}
input, select, option, textarea, button{
	font: 13px Verdana, 'Nanum Gothic', sans-serif;
	font-weight: 400;
	color: #000;
	border-radius: 0;
	border: none;
	outline: none;
	background: transparent;
}
h1, h2, h3, h4, h5, h6{
	font-size: 1.0em;
	font-weight: 400;
}
b, strong{
	font-weight: normal;
}
i, em, address{
	font-style: normal;
    font-size: 18px;
}
ul, ol, li{
	list-style: none;
}
a, img, label{
	display: block;
}
img, fieldset, iframe, frameset{
	border: none;
}
legend, caption, hr{
	display: none;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: underline;
}



/**** STYLE **********************/
input#toggle_menu, input#toggle_search{
	display: none;
}

.skip, .blind{
	display: block;
	height: 0;
	overflow: hidden;

	position:absolute;
	top: -6000px;
}
