/* footer_style.css */

#main_footer{
	width: 100%;
	background: #f4f4f4;
}
	#main_footer > div{
		margin: 0 auto;
		padding: 34px 0;
		overflow: hidden;
	}
	@media screen and ( min-width: 1367px){
	#main_footer > div{
		width: 980px;
	}
	}
	@media screen and ( max-width: 1366px){
	#main_footer > div{
		width: 100%;
		margin-top: 50px;
	}
        #main_footer > div > ul{
            margin-left: 10%;
        }
	}
		@media screen and ( min-width: 768px){
		ul.sns{
			float: left;
		}
		}
		@media screen and ( max-width: 767px){
		ul.sns{
			width: 100px; height: 35px;
			margin: 0 0 25px;
            
		}
		}
			ul.sns > li{
				float: left;
				margin-right: 10px;
			}
			ul.sns > li:last-child{
				margin-right: 0;
			}
				ul.sns > li > a{}
					ul.sns > li > a > img{}

		#main_footer > div > address{
			height: 32px; width: auto;
            font-size: 25px;
			line-height: 32px;
            text-align: center;
            margin-top: 20px;
		}

		@media screen and ( min-width: 768px){
			#main_footer > div > address{
				height: 20px; width: auto;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
			}
		}
		@media screen and ( min-width: 768px) and ( max-width: 1366px){
			#main_footer > div > address{
				margin-right: 0;
                font-size: 20px;
			}
		}
@media screen and ( max-width: 767px){
    #main_footer > div > address{
        font-size: 15px;
        text-align: center;
    } 
}